DATABASE_URL="postgresql://vivola:vivola@localhost:5432/vivola"
TEST_DATABASE_URL="postgresql://vivola:vivola@localhost:5432/vivola_test"
SESSION_SECRET="change-me-to-a-random-32-character-or-longer-secret"
